<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="QueueName" value="dataqueue"/>
    <add key="CertPath" value="D:\\rabbitcerts\\client\\client_certificate.p12"/>
    <add key="CertPassword" value="zaq1@WSX"/>
    <add key="UserName" value="client1"/>
  </appSettings>
</configuration>
